/*
* @Author: Administrator
* @Date:   2016-10-06 15:54:14
* @Last Modified by:   Administrator
* @Last Modified time: 2016-10-11 19:46:02
*/


/*nav*/
.w-nav{
	width: 100%;
	height: 35px;
	background-color: #000;
}
.w-nav .nav{
	height: 35px;
	
}
.w-nav .nav a{
	height: 35px;
	line-height: 35px;
	display: block;
	float: left;
	font-size: 16px;
	color: #fff;
	padding:0 23px;
}
.w-nav .nav a:hover{
	background-color: #e10482;
}
.nav .nav-classify{
	width: 84px;
	height: 22px;
	padding-top: 8px;
	margin-left:1108px;	
	cursor: pointer;
	position: relative;
	z-index: 10;	
}
.nav .nav-classify img{
	margin-top: 1px;
	float: left;
	margin-right: 5px;
}
.nav .nav-classify span{
	font-size: 14px;
	color: #fff;
	float: left;
	
}
.nav .nav-classify .classify-list{
	position: absolute;
	left: -600px;
	top:38px;
	width: 130px;
	height: 270px;
	
	background-color: #f0f0f0;
	text-align: center;
	display: none;
	
}
.nav .nav-classify .classify-list li{
	color: #000;
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	position: relative;
}
.nav .nav-classify .classify-list li .arrow{
	position: absolute;
	right: -14px;
	top:7px;
	border:7px solid transparent;
	border-left-color:#000; 
	display: none;
	z-index: 1;
}
.nav .nav-classify .classify-list li .face-care{
	
	
	top:0;
	
	height: 300px;
	background-color: red;
	
}
.nav .nav-classify .classify-list li .personal-care{
	
	height: 200px;
	top:-30px;
	background-color: blue;
}
.nav .nav-classify .classify-list li .fashion-makeup{
	height: 250px;
	top:-60px;
	background-color: orange;
}
.nav .nav-classify .classify-list li .fragrance{
	height: 120px;
	top:-90px;
	background-color: pink;
}
.nav .nav-classify .classify-list li .infant{
	height: 250px;
	top:-120px;
	background-color: yellow;
}
.nav .nav-classify .classify-list li .pregnant-women{
	height: 120px;
	top:-150px;
	background-color: red;
}
.nav .nav-classify .classify-list li .health-care{
	height: 200px;
	top:-180px;
	background-color: pink;
}
.nav .nav-classify .classify-list li .fashion-shoes{
	height: 120px;
	top:-210px;
	background-color: blue;
}
.nav .nav-classify .classify-list li .delivery-address{
	height: 320px;
	top:-240px;
	background-color: red;
}
.nav .nav-classify .classify-list li .common{
	display: none;
	position: absolute;
	width: 500px;
	z-index: 0;
	left:130px;
}

/*product-details*/
.w-product-details{
	width: 100%;
	height: 560px;
	padding:20px 0;
	z-index: 8;
}
.product-details{
	width: 990px;
	height: 500px;
	padding-bottom: 60px; 
	margin: 0 auto;
	position: relative;
}
.product-details p{
	width: 100%;
	height:20px;
	line-height: 20px;
	padding-bottom: 20px;
	margin:0;
	font-size: 14px;
	color: #ccc;
}
.product-details p span{
	color: #999;
}
.product-details p a{
	color: #999;
	font-size: 14px;
	padding: 0 5px;
}
.product-details p a:hover{
	color: #e1007d;
}
.product-details .product-pic{
	width: 580px;
	height: 457px;
	position: relative;
	left: 0;
	top: 0;
}
.product-details .product-pic img{
	width: 36px;
	height: 36px;
	position: absolute;
	left:0;
	top:0;
}
.product-details .product-pic h2{
	padding-left:50px;
	width: 530px;
	height: 60px;
	color: #000;
	font-size: 20px; 
	margin:0;
}
.product-details .product-pic img.bg-img{
	width: 580px;
	height:360px;
	position: absolute;
	top: 60px;
	left:0;
}
.product-details .product-pic a{
	display: block;
	width: 130px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	background-color: #fff;
	position: absolute;
	right:10px;
	bottom: 50px;
	border-radius: 34px;	
}
.product-details .product-pic a span{
	background: url(../images/product_detail_sprite.png) no-repeat -118px -51px;
	float: left;
	width: 16px;
	height: 16px;	
	margin: 8px 5px 0 20px;  
}
.product-details .product-pic a b{
	float: left;
	font-weight: 100;
	color: #000;
}
.product-details .product-pic a span:hover{
	background:url(../images/product_detail_sprite.png) no-repeat -138px -52px ;
}
.product-details .product-txt{
	width: 400px;
	height: 410px;
	position: relative;
	left: 590px;
	top: -397px;	
}
.product-details .product-txt p.product-introduce{
	width: 100%;
	color: #000;
	font-size: 16px;
	height: 80px;
}
.product-details .product-txt .price{
	width: 100%;
	height: 55px;
}
.product-details .product-txt .price span{
	font-size: 25px;
	color: #e1007d;
	float: left;
	margin-top: 10px;
}
.product-details .product-txt .price b{
	font-size: 40px;
	color: #e1007d;
	float: left;
}
.product-details .product-txt .price strong{
	color: #000;
	font-weight: 100;
	font-size: 14px;
	margin-left: 200px;
	position: relative;
	float: left;
	cursor: pointer;
}
.product-details .product-txt .price strong .taxes{
	position: absolute;
	bottom: -90px;
	right: 0;
	width: 350px;
	height: 80px;
	background-color: #fff;
	border:1px solid #ccc;	
	display: none;
}
.product-details .product-txt .price strong .taxes p.taxes-txt{
	font-size: 14px;
	color: #999;
	margin-top: 10px;
}
.product-details .product-txt .price strong .taxes span.taxes-rules{
	font-size: 14px;
	color: #e1007d;
	margin-left: 280px;
}
.product-details .product-txt .save-price{
	font-size: 14px;
	color: #999;
	margin-bottom: 10px;
}
.product-details .product-txt .save-price span.official-price{
	text-decoration: line-through;
	margin-right: 40px;
}
.product-details .product-txt .save-price span.save{
	background-color: orange;
	border-radius: 3px;
}
.product-details .product-txt button{
	border:0;
	border-radius: 3px;
	background-color: #e1007d;
	margin-right: 20px;
	font-size: 14px;
	color: #fff;
}
.product-details .product-txt i{
	font-style: normal;
	font-size: 14px;
	color: #000;
}
.product-details .product-txt p.ship-address{
	width: 100%;
	height: 50px;
	padding: 0;
	line-height: 50px;
	border-bottom: 1px solid #000;
	font-size: 14px;
	color: #666;
}
.product-details .product-txt .num{
	width: 100%;
	height: 30px;
	position: relative;
	margin: 30px 0;

}
.product-details .product-txt .num label{
	color: #999;
	position: absolute;
	left: 0;
	top:5px;
	font-size: 14px;
}
.product-details .product-txt .num .amount{
	border:1px solid #999;
	height: 28px;
	width: 96px;
	position: relative;
	top: 0;
	left: 50px;
	border-radius: 3px;
}
.product-details .product-txt .num .amount a.reduce{
	float: left;
	width: 27px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	cursor: not-allowed;
	background-color: #ccc;
	border-right: 1px solid #999;
	color: #999;
}
.product-details .product-txt .num .amount input{
	float: left;
	width: 40px;
	height: 28px;
	border: 0;
	outline: none;
	color: #000;
	text-align: center;
	background-color: #fff;
}
.product-details .product-txt .num .amount a.plus{
	float: left;
	width: 27px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	color: #999;
	border-left: 1px solid #ccc;
}
.product-details .product-txt .num .amount a.plus:hover{
	color: #000;
}
.product-details .product-txt a.buy{
	display: block;
	width: 170px;
	height: 50px;
	border-radius: 50px;
	background-color: #000;
	color: #fff;
	font-size: 22px;
	line-height: 50px;
	text-align: center;
	position: absolute;
	left: 0;
	bottom: 10px;
}
.product-details .product-txt a.add{
	display: block;
	width: 170px;
	height: 50px;
	border-radius: 50px;
	background-color: #e1007d;
	color: #fff;
	font-size: 22px;
	line-height: 50px;
	text-align: center;
	position:absolute;
	left:190px;
	bottom:10px;
}
.product-details .product-txt a.add:hover{
	background-color: #e10047;
}
.product-details .product-txt a.add i{
	font-size: 24px;
	color: #fff;
}

	/* 加入购物车，出现蒙层 */
.mengceng{
	width: 100%;
	height: 100%;
	background: rgba(1,1,1,0.3);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	display: none; 
}
.mengceng .box{
	width: 400px;
	height: 150px;
	border-top: 2px solid #000;
	background-color: #fff;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}
.mengceng .box span{
	position: absolute;
	right: 15px;
	top: 5px;
	font-size: 20px;
	color: #ccc;
}
.mengceng .box span:hover{
	color: #e10074;
  	cursor: pointer;
}
.mengceng .box p{
	width: 100%;
	height: 30px;
	line-height: 30px;
	color: #000;
	font-size: 16px;
	text-align: center;
	position: absolute;
	top:40px;
	left: 0;
}
.mengceng .box .btn{
	display: block;
	width: 100px;
	height: 30px;
	line-height:30px;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border:0;
	outline: none;
	font-size: 16px;
	position: absolute;
	top:100px;
	text-align: center;
}
.mengceng .box .see{
	background-color: #e10074;
	color: #fff;
	left: 90px;
}
.mengceng .box .see:hover{
	background-color: #e10047;
  	cursor: pointer;
}
.mengceng .box .cancel{
	background-color: #f0f0f0;
	color: #000;
	border:1px solid #ccc;
	left:250px;
}








/*product-con*/
.w-product-con{
	width: 100%;
	min-height:1000px;
	_height:1000px;
	background-color: #f0f0f0; 
}
.product-con{
	width: 990px;
	overflow: hidden;
	padding:20px 0;
	margin:0 auto;
}
.product-con .product-left{
	width: 240px;
	float: left;
	margin-right: 30px;
}
.product-con .product-left h3{
	width: 100%;
	height:36px;	
	color:#000;
	margin:0;
}
.product-con .product-left .hot-recommend{
	width: 200px;
	height: 210px;
	border-top:2px solid #000;
	border-bottom:1px solid #ccc;
	padding: 0 20px;
	background-color: #fff;
	margin-bottom: 20px;
}
.product-con .product-left .guess{
	height: 420px;
}
.product-con .product-left .hot-recommend .common{
	width: 200px;
	height: 64px;
	padding: 20px 0;
	border-bottom: 1px solid #f0f0f0;
}
.product-con .product-left .hot-recommend .hot-recommend-second{
	border-bottom: 0;
}
.product-con .product-left .hot-recommend .common img{
	float: left;
	width: 64px;
	height: 64px;
	margin-right: 10px;
}
.product-con .product-left .hot-recommend .common .hot-recommend-price{
	float: left;
	height: 64px;
	width: 126px;
}
.product-con .product-left .hot-recommend .common .hot-recommend-price p{
	width: 100%;
	font-size: 14px;
	color: #000;
	margin:0;
}
.product-con .product-left .hot-recommend .common .hot-recommend-price span{
	color: #e1007d;
	margin-top: 5px;
}

.product-con .product-right{
	width: 720px;
	float: left;
	background-color: #fff;
}
.product-con .product-right p.product-top{
	width: 700px;
	height: 36px;
	padding-left:20px;
	margin:0;
	border-bottom: 2px solid #000;
	background-color: #f0f0f0;
}
.product-con .product-right p.product-top a{
	float: left;
	height: 34px;
	line-height: 34px;
	margin:0 20px;
	color: #000;
}
.product-con .product-right p.product-top a.active{
	float: left;
	height: 34px;
	line-height: 34px;
	margin:0 20px;
	border-bottom: 2px solid #e1007d;
	color: #e1007d;
}
.product-con .product-right img{
	margin:0 auto;
	width: 720px;
}
.product-con .product-right .product-introduce{
	width: 680px;
	padding: 20px 20px;
	height: 429px;
	position: relative;
}
.product-con .product-right .product-introduce h4{
	width: 100%;
	height: 36px;
	line-height: 36px;
	font-size: 24px;
	color: #333;
	margin:25px 0;
}
.product-con .product-right .product-introduce p{
	width: 400px;
	height: 20px;
	margin:10px 0;
}
.product-con .product-right .product-introduce p span{
	float: left;
	width: 100px;
	height: 20px;
	line-height: 20px;
	text-align: right;
	font-size: 14px;
	color: #ccc;
}
.product-con .product-right .product-introduce p b{
	float: left;
	font-weight: 100;
	width: 250px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	color: #000;
	
}
.product-con .product-right .product-introduce img.product-img{
	width: 240px;
	height: 240px;
	position: absolute;
	left:370px;
	top:96px;
}

/*yq-link*/
.w-yq-link{
	width: 100%;
	height: 204px;
	background-color: #fff;
}
.yq-link{
	height: 144px;
	padding: 30px 0;

}
.yq-link dl{
	width: 110px;
	height: 122px;
	float: left;
	padding:0 20px 0 40px;
	margin: 0;
}
.yq-link dl.last{
	width: 120px;
	height: 144px;
	padding: 0 20px 0 90px;
	
}
.yq-link dl dt{
	width: 110px;
	height: 24px;
	line-height: 24px;
	font-size: 18px;
	color: #999;
	padding-bottom: 10px;
}
.yq-link dl a{
	color: #000;
	font-size: 14px;
}
.yq-link dl a:hover{
	color: #e10482;
	text-decoration: underline;
}
.yq-link dl dd{
	margin:0;
	width: 90px;
	height: 22px;
	line-height: 22px;	
}
